---
version: 2
interactions:
    - id: 0
      request:
        host: test.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://test.salesforce.com/services/data/v64.0/ssot/data-transforms/flow_test_delete_transform/actions/cancel
        method: POST
      response:
            - chunked
        body: |-
            [
              {
                "errorCode": "URL_NOT_RESET",
                "message": "Destination URL not reset. The URL returned from login must be set"
              }
            ]
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 82.148292ms
    - id: 1
      request:
        host: test.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://test.salesforce.com/services/data/v64.0/ssot/data-transforms/flow_test_delete_transform
        method: GET
      response:
            - chunked
        body: |-
            [
              {
                "errorCode": "URL_NOT_RESET",
                "message": "Destination URL not reset. The URL returned from login must be set"
              }
            ]
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 89.929542ms
    - id: 2
      request:
        host: test.salesforce.com
        headers:
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://test.salesforce.com/services/data/v64.0/ssot/data-lake-objects/flow_test_delete__dll
        method: DELETE
      response:
            - chunked
        body: |-
            [
              {
                "errorCode": "URL_NOT_RESET",
                "message": "Destination URL not reset. The URL returned from login must be set"
              }
            ]
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 80.173667ms
    - id: 3
      request:
        host: test.salesforce.com
        body: |
            {
              "name": "flow_test_delete_transform",
              "label": "flow_test_delete_transform",
              "type": "BATCH",
              "definition": {
                "type": "DCSQL",
                "version": "1.0",
                "manifest": {
                  "nodes": {
                    "node_flow_test_delete__dll": {
                      "name": "flow_test_delete__dll",
                      "relation_name": "flow_test_delete__dll",
                      "config": {
                        "materialized": "table",
                        "writeMode": "OVERWRITE"
                      },
                      "compiled_code": "SELECT primary_key__c FROM test_all_field_types__dll"
                    }
                  }
                }
              },
              "dataSpaceName": "default"
            }
        headers:
            Content-Type:
                - application/json
            X-Salesforce-Partner-Name:
                - dbt_labs
        url: https://test.salesforce.com/services/data/v64.0/ssot/data-transforms-validation
        method: POST
      response:
            - chunked
        body: |-
            [
              {
                "errorCode": "URL_NOT_RESET",
                "message": "Destination URL not reset. The URL returned from login must be set"
              }
            ]
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 77.81175ms
